<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allens.model_base" >

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问WiFi状态.  -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 访问网络状态, 检测网络的可用性. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读去文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!-- 使用蓝牙所需要的权限 start-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--  使用扫描和设置蓝牙的权限（申明这一个权限必须申明上面一个权限） -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 在Android5.0之前，是默认申请GPS硬件功能的。而在Android 5.0 之后，需要在manifest 中申明GPS硬件模块功能的使用 -->
    <uses-feature android:name="android.hardware.location.gps" />
    <!-- 在 Android 6.0 及以上，还需要打开位置权限。如果应用没有位置权限，蓝牙扫描功能不能使用（其它蓝牙操作例如连接蓝牙设备和写入数据不受影响） -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 使用蓝牙所需要的权限 end-->


</manifest>
